# .github/workflows/deploy.yml
name: Dummy Deploy

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: dev
    steps:
      - name: Show secret
        run: echo "API key is ${{ secrets.MY_API_KEY }}"
