# .github/workflows/deploy.yml
name: Dummy Deploy

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: dev
    steps:
      - name: Print service name
        run: echo "deploying:${{ vars.SERVICE_NAME }}"
